<div class="row">
  <div class="col-sm-3 col-lg-2">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button role="button" class="btn btn-success" data-toggle='modal' data-target= '.prayer-modal' data-for="<%= person.id %>">Pray</button>
      </div>
      <% if @user.friends.include? person %>
        <%= button_to "Drop", friend_path(person), method: :delete, form_class: 'form-inline btn-group', class: 'btn btn-danger', data: {confirm: "Do you want to excommunicate #{person.name} from your list of friends?"} %>
      <% else %>
        <%= button_to "Add", friend_path(person), method: :put, form_class: 'form-inline btn-group', class: 'btn btn-primary', data: {confirm: "Add #{person.name} to your friends?"} %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10">
    <%= panel person.email.present? ? "#{person.name}  <#{person.email}>" : person.name %>
  </div>
</div>
