<div class="row">
  <div class="col-sm-2 col-xl-3"> 
    <div class="row">
      <button type="button" class="btn btn-success btn-block" data-toggle='modal' data-target= '.prayer-modal' data-for="<%= person.id %>">Pray</button>
    </div>
    <div class="row">
      <% if @user.friends.include? person %>
        <%= button_to "Drop", friend_path(person), method: :delete, form_class: 'form-inline', class: 'btn btn-danger btn-block', data: {confirm: "Do you want to excommunicate #{person.name} from your list of friends?"} %>
      <% else %>
        <%= button_to "Add", friend_path(person), method: :put, form_class: 'form-inline', class: 'btn btn-primary btn-block', data: {confirm: "Add #{person.name} to your friends?"} %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-10 col-xl-9">
    <%= panel person.email.present? ? "#{person.name}  <#{person.email}>" : person.name %>
  </div>
</div>
