<% content_for :page_subtitle do %>
  Groups
<% end %>
<p id="notice"><%= notice %></p>


<%= render @groups %>

<br>

<%= button_to 'New Group', new_group_path, method: :get, form_class: "form-inline", class: "btn btn-primary" %>
<%= render 'modal' %>
