<% content_for :page_subtitle do %>
  Edit Profile
<% end %>
<div class="row afore-main">
  <h1>Profile - Edit</h1>
  <h6>Update your contact information</h6>
</div>
<div class="gray-boxy">
  <%= render 'shared/flash' %>
  <%= render 'form' %>
</div>