<% content_for :page_subtitle do %>
  My Account
<% end %>
<div class="row afore-main">
  <h1>Current User: <%= @user.name %></h1>
</div>
<div class="gray-boxy">
  <h1>Update your information:</h1>
  <%= render 'users/form' %>
</div>