	<footer class="row">
		<div class="footer-links col-md-8 col-lg-6 col-centers">
			<ul>
				<li><a href="http://andygauge.wordpress.com">Blog</a></li>
				<li><a href="https://github.com/AndyGauge/railstest">Code</a></li>
				<li><a href="http://adfreeblog.org/">Ad Free</a></li>
			</ul>
		</div>
	</footer>