	<footer class="row">
		<div class="footer-links col-md-8 col-lg-6 col-centers">
			<ul>
				<li><a href="#">Who are you people?</a></li>
				<li><a href="#">What are thinking?</a></li>
				<li><a href="#">Whose going to want this?</a></li>
			</ul>
		</div>
	</footer>