<div class="row">
	<div class="col-xs-6 col-sm-8">
		<ul class="nav nav-pills nav-justified">
			<li role="presentation" class="active">
				<a href="#">Nav</a>
			</li>
			<li role="presentation">
				<a href="#">I</a>
			</li>
			<li role="presentation">
				<a href="#">Gation</a>
			</li>
		</ul>
	</div>
	<div class="col-xs-6 col-sm-4">
		<h1 class="titles">Prayer</h1>
	</div>
</div>