<% content_for :page_subtitle do %>
  Prayers
<% end %>
<%= render 'new' %>
<div id="scripture" class="scripture"></div>
<div id="prayers">
  <%= render @prayers if @prayers.present? %>
  <%= render @prayers_for if @prayers_for.present? %>
</div>
