<% content_for :page_subtitle do %>
  Prayers
<% end %>
<%= react_component('PrayerPage', {prayers: @prayers}) %>
<div id="scripture" class="scripture"></div>
<div id="prayers">

</div>
<%= render 'modal' %>
