<div class="container-fluid">
	<div class="row">
		<div class="col-xs-11 col-sm-10 col-md-9 col-lg-8 left-most">
			<a href="#">
				<%= render 'head' %>
				<%= render 'new' %>
			</a>
			<%# TODO: display existing prayers %>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 binding">
			<%# TODO: display gradient in HTML5 %>
		</div>
		<div class="hidden-xs col-sm-1 col-md-2 col-lg-3 right-most">
			</div>
			<a href="#">
				<%= render 'alt_head' %>
			</a>
		</div>
	</div>
</div>
