<% content_for :page_subtitle do %>
	Prayers
<% end %>
<%= render 'new' %>
<% @prayers.each do |prayer| %>
	<div class="pb-prayer-wrap">
	<h3><a href="<%= edit_prayer_path(prayer) %>"><%= prayer.title %></a></h3>
	<p><%= prayer.body %></p>
</div>
<% end %>
