<div class="container">
	<nav class="row purple-nav">
		<div class="col-sm-4 col-md-4">
			<h1 class="titles">praybook</h1>
		</div>
		<div class="hidden-xs hidden-sm col-md-3">&nbsp;</div>
		<%= bootstrap_form_tag url: '/login', layout: :inline do |login_form| %>
		<div class="col-sm-3 col-md-2 input-fields">
			<%= login_form.email_field :email, hide_label: true %>
		</div>
		<div class="col-sm-3 col-md-2 input-fields">
			<%= login_form.password_field :password , skip_label: true %>
		</div>
		<div class="col-sm-2 col-md-1">
			<%= login_form.submit "LOG IN" %>
		</div>
		<% end %>
	</nav>
</div>