/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.navbar-brand {
	font-size: 3em;
	color: #FFF;
	letter-spacing: 1px;
	text-shadow: 2px 4px #408;
}
.navbar-nav {
	font-size: 2em;
}
.navbar-nav li a {
	color: #EFE;
}
.navbar-nav li.active a {
	background-color: #EFE;
	color: #408;
	text-shadow: 1px 1px #CCF;
}
.navbar {
	background-color: #70A;
}
body {
	top-padding: 60px;
}