// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-purple: #80C;
body
{
	font-size: 100%;
}
.purple-nav
{
	background-color: $light-purple;
	color: #FFF;
	font-family: fantasy;
	line-height: 1.2;
}
h1.purple-nav
{
	font-size: 2em;
	text-transform: uppercase;
}
.input-fields
{
	font-family: monospace;
	font-size: 1.5em;
}