.pb-navbar-brand {
	font-size: 24px;
	color: #FFF;
	letter-spacing: 1px;
	text-shadow: 2px 4px #408;
}
.pb-navbar-link {
	font-size: 1.1em;
	color: #EFE;
}

.pb-inline-form {
	display: block-inline;
}