<%= form_for(@praise, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8") do |praise_form| %>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="praise_title">Praise</label>
    <div class="col-sm-9">
      <textarea placeholder="Thank you God ..." class="form-control" name="praise[title]" id="praise_title"><%= @praise.title -%></textarea> 
    </div>
  </div>
  <%= praise_form.submit "Praise Your holy name", class: "btn btn-primary btn-lg" %>
<% end %>
