<div class="row">
<div class="col-sm-3 col-lg-2"> 
  <div class="row">
    <%= link_to edit_praise_path(praise), class: 'btn btn-success btn-block', role: 'button' do %>
    <%= icon :pencil, library: :font_awesome, class: "fa-lg" %> Edit
    <% end %>
  </div>
</div>
<div class="col-sm-9 col-lg-10">
  <%= panel praise.title %>
</div>
</div>
