<% content_for :page_subtitle do %>
  Praise
<% end %>
<%= render 'new' %>
<div id="praises">
  <%= render @praises if @praises.present? %>
  <%= render @praises_for if @praises_for.present? %>
</div>
